@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --text--nav: #999999;
  --text: #000000;
  --bg--form: #F7F7F9;
  --text-btn: #ffffff;
  --bg-btn: #FF9376;
  --rate-bg: #8080FF;
  --start-: #FFD583;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.container .btn {
  padding: 5px;
  background-color: var(--text);
  position: fixed;
  right: -100px;
  bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .btn i {
  color: var(--text-btn);
}

.container .btn.scroll {
  right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 2% 3%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container header .container__header__Lentera {
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .container__header__Lentera .logo a {
  text-decoration: none;
  color: var(--text);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.container header .container__header__Lentera .logo a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.container header .container__header__Lentera nav.navbar__Lentera ul.list__Lentera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.container header .container__header__Lentera nav.navbar__Lentera ul.list__Lentera li.list__item__Lentera {
  padding: 0px 5px;
  margin: 0px 5px;
}

.container header .container__header__Lentera nav.navbar__Lentera ul.list__Lentera li.list__item__Lentera a.link__item__Lentera {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: var(--text--nav);
}

.container header .container__header__Lentera nav.navbar__Lentera ul.list__Lentera li.list__item__Lentera.active a {
  color: var(--text);
}

.container header.sticky {
  position: fixed;
  top: 0;
  background-color: var(--text-btn);
  padding: 0.9% 2%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 200;
}

.container section.banner__lentera {
  width: 100%;
  height: 100%;
  position: relative;
}

.container section.banner__lentera .container__banner__lentera {
  max-width: 1200px;
  padding-top: 170px;
  margin: 0px auto;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera {
  width: 400px;
  height: auto;
  font-family: "Poppins", sans-serif;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera h1 {
  font-size: 2.2em;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera span {
  display: block;
  margin: 10px 0px;
  line-height: 1.5;
  color: var(--text--nav);
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera .box__counter {
  width: 80%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera .box__counter .counter span {
  font-size: 25px;
  color: var(--text);
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera .box__counter .counter p {
  margin: -10px 0px;
  color: var(--text--nav);
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera .box__counter .counter span::after {
  content: 'K';
  display: inline;
  color: #8080FF;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera .box__counter .counter span.transactions::after {
  display: inline;
  content: 'M';
  color: #8080FF;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera .form {
  width: 100%;
  margin-top: 10%;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera .form .input__group {
  width: 100%;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera .form .input__group label {
  display: block;
  margin: 10px 0px;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera .form .input__group input[type="text"] {
  width: 100%;
  display: block;
  padding: 10px 7px;
  font-size: 17px;
  border: none;
  outline: none;
  background-color: var(--bg--form);
  border-radius: 5px;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__banner__lentera .form button.btn__banner {
  display: block;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 20px 0px;
  color: var(--text-btn);
  background-color: var(--bg-btn);
  cursor: pointer;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__img__banner__lentera {
  width: 600px;
  height: 670px;
  background: url("../images/bg__banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  border-left: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  top: -20px;
  right: 0;
}

.container section.banner__lentera .container__banner__lentera .row__banner__lentera .box__img__banner__lentera img {
  display: block;
  width: 100%;
  margin-top: 75px;
}

.container section.logo__lentera {
  padding-top: 150px;
  position: relative;
  padding-bottom: 50px;
}

.container section.logo__lentera .container__logo__lentera {
  max-width: 1200px;
  margin: 0px auto;
}

.container section.logo__lentera .container__logo__lentera .row__logo__lentera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section.logo__lentera .container__logo__lentera .row__logo__lentera img {
  display: inline-block;
  cursor: pointer;
}

.container section.gallery__lentera {
  padding: 50px 0px;
}

.container section.gallery__lentera .container__gallery__lentera {
  max-width: 1200px;
  margin: 0px auto;
  font-family: "Poppins", sans-serif;
}

.container section.gallery__lentera .container__gallery__lentera h1 {
  text-align: center;
}

.container section.gallery__lentera .container__gallery__lentera span {
  color: var(--text--nav);
  text-align: center;
  display: block;
}

.container section.gallery__lentera .container__gallery__lentera .row__gallery__lentera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.container section.gallery__lentera .container__gallery__lentera .row__gallery__lentera .box__gallery__lentera {
  width: 300px;
  height: auto;
  overflow-x: hidden;
  position: relative;
  margin: 0px 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.container section.gallery__lentera .container__gallery__lentera .row__gallery__lentera .box__gallery__lentera .rate {
  width: 120px;
  padding: 10px;
  position: absolute;
  top: 20;
  right: 0px;
  background-color: var(--rate-bg);
  text-align: left;
  border-radius: 0px 40px 0px 50px;
}

.container section.gallery__lentera .container__gallery__lentera .row__gallery__lentera .box__gallery__lentera .rate i {
  display: inline-block;
  margin: 0px 5px;
  font-size: 25px;
  color: var(--start-);
}

.container section.gallery__lentera .container__gallery__lentera .row__gallery__lentera .box__gallery__lentera .rate span.rate__text {
  display: inline-block;
  font-size: 17px;
  color: var(--text-btn);
  font-weight: bold;
}

.container section.gallery__lentera .container__gallery__lentera .row__gallery__lentera .box__gallery__lentera img {
  width: 100%;
  display: block;
  border-radius: 50px;
}

.container section.gallery__lentera .container__gallery__lentera .row__gallery__lentera .box__gallery__lentera h3 {
  margin-top: 10px;
}

.container section.gallery__lentera .container__gallery__lentera .row__gallery__lentera .box__gallery__lentera span.gallery {
  text-align: left;
  font-size: 14px;
  margin: 0px auto;
}

.container section.gallery__lentera .container__gallery__lentera .row__gallery__lentera .box__gallery__lentera span.gallery a {
  text-decoration: none;
  color: var(--text--nav);
}

.container section.gallery__lentera .container__gallery__lentera .row__gallery__lentera .box__gallery__lentera:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container section.comentary__lentera {
  padding: 100px 0px;
  background-image: url(../images/bg__footer.png);
  background-position-x: -500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container section.comentary__lentera .container__comentary__lentera {
  max-width: 1200px;
  margin: 0px auto;
}

.container section.comentary__lentera .container__comentary__lentera .row__comentary__lentera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section.comentary__lentera .container__comentary__lentera .row__comentary__lentera .box__comentary__lentera {
  width: 400px;
  height: auto;
  font-family: "Poppins", sans-serif;
}

.container section.comentary__lentera .container__comentary__lentera .row__comentary__lentera .box__comentary__lentera span {
  display: inline-block;
  margin: 20px 0px;
  color: var(--text--nav);
}

.container section.comentary__lentera .container__comentary__lentera .row__comentary__lentera .box__comentary__lentera .box__img__donwload img {
  display: inline-block;
  margin: 10px 0px;
  margin-right: 20px;
}

.container section.comentary__lentera .container__comentary__lentera .row__comentary__lentera .container__swiper {
  width: 600px;
  height: auto;
  overflow-x: hidden;
}

.container section.comentary__lentera .container__comentary__lentera .row__comentary__lentera .container__swiper .swiper__lentera__comment .box__slider {
  margin: 0px 50px;
}

.container footer {
  padding: 50px 0px;
  background-color: var(--text);
}

.container footer .container__footer {
  max-width: 1200px;
  margin: 0px auto;
}

.container footer .container__footer .row__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.container footer .container__footer .row__footer .box__footer {
  width: 300px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.container footer .container__footer .row__footer .box__footer p {
  color: var(--text-btn);
}

.container footer .container__footer .row__footer .box__footer .logo a img {
  display: inline-block;
  vertical-align: middle;
}

.container footer .container__footer .row__footer .box__footer .logo a span {
  font-size: 20px;
  color: #ffffff;
  margin-left: 0px 10px;
  display: inline-block;
}

.container footer .container__footer .row__footer .box__list__footer {
  width: 200px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.container footer .container__footer .row__footer .box__list__footer ul {
  list-style: none;
}

.container footer .container__footer .row__footer .box__list__footer ul li {
  list-style-position: inside;
  padding: 5px 0px;
}

.container footer .container__footer .row__footer .box__list__footer ul li a {
  text-decoration: none;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */